---
layout: compress
---
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name='robots' content='noindex,follow'/>
  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/styles/styles.css" media="screen">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico?v=1">
	<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/apple-touch-icon.png">
</head>

<body>
  <div class="main policy">
    {% include _nav.html %}

    <p class="breadcrumb"><a href="{{ site.url }}/policies">&larr; Back</a></p>

    <section>{{ content }}</section>

    {% include _footer.html %}
  </div>
</body>
</html>
